@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Prompt:wght@500&display=swap");

body {
  margin: 0;
  font-family: Helvetica;
  background-color: black;
}

main {
  font-size: 1rem;
  margin: 5rem;
}

.banner {
  display: flex;
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
  background-image: url("/assets/maldives.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 5%;
}

.banner h1 {
  font-size: 7rem;
  font-family: "Gloria Hallelujah", cursive;
  margin-left: 5rem;
  color: bisque;
  line-height: 100%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 10%;
}

.item_category {
  padding: 10%;
  text-align: center;
}

.item_button {
  font-size: 2rem;
  border: 0px none;
  background-color: transparent;
}

.item_category a {
  text-decoration: none;
  color: whitesmoke;
  font-family: helvetica;
}

.item_category a:hover {
  color: black;
}

.item_category:hover {
  background-color: rgb(202, 75, 17);
}
